.shoping-cart {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .shoping-cart-list {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
