.product-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: 1px solid;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  margin: 0 auto 15px;
  padding: 25px;
  .image {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin: 0 30px 0 0;
    img {
      object-fit: cover;
    }
  }
  .name {
    margin: 0 0 15px;
  }
  button {
    background-color: $primaryColor;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
  }
  button:hover {
    opacity: 0.7;
  }
}
