.checkout-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 50px;
  .bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: $primaryColor;
      border: none;
      border-radius: 8px;
      padding: 8px 15px;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 900;
      display: inline-block;
    }
  }
}
