.home-container {
  padding: 60px 15px 0;
}
.home-container > h1 {
  color: #000;
}
.home-container .find-my-location {
  text-align: end;
  margin: 0 0 50px 0;
}
.home-container .find-my-location > a {
  color: #000;
}
