.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(58, 58, 58);
  color: #fff;
  border: 1px solid #000;
  width: 80%;
  border-radius: 8px;
  margin: 0 auto 15px;
  padding: 20px;
  .name {
    margin: 0 0 15px;
  }
  .description {
  }
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  button {
    background-color: rgb(255, 163, 78);
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
  }
  button:hover {
    opacity: 0.7;
  }
}
